header {
  width: 100%;
  background-color: black;
  padding: 2rem 0;

  @include responsive(560px) {
    padding: 1.4rem 0;
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logos {
    width: 58%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo-sony {
      @include responsive(560px) {
        display: none;
      }
    }

    .logo {
      @include responsive(560px) {
        max-width: 14rem;
      }
      img {
        @include img(cover);
      }
    }
  }

  .plataforms {
    display: flex;
    align-items: center;
    gap: 1.8rem;

    span {
      font-weight: 600;
      font-size: 1.6rem;
      line-height: 1.7rem;

      @include responsive(560px) {
        display: none;
      }
    }

    ul {
      display: flex;
      align-items: center;
      gap: 0.8rem;

      li {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.4rem;
        border: 1.5px solid #ffffff;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 1.7rem;
      }
    }
  }
}
