.s-hero {
  position: relative;
  background: url('../assets/bg-hero.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  padding: 16.4rem 0 23rem;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15rem;
    background-image: linear-gradient(transparent, black);
  }

  .wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  .content {
    width: 100%;
    max-width: 78.2rem;
    z-index: 1;

    .subtitle {
      margin-bottom: 2.4rem;
    }
    .title-hero {
      margin-bottom: 1.8rem;
    }
    .paragraph-hero {
      margin-bottom: 4rem;
    }
    .buttons {
      .value,
      .order {
        font-weight: 700;
        font-size: 2rem;
        line-height: 2.2rem;
        padding: 1.8rem 3.6rem;
      }
      .value {
        background: #ffffff;
        color: black;
      }
      .order {
        background: #3265ea;
      }
    }
  }

  .trailer {
    position: relative;
    top: 9.7rem;
    z-index: 1;

    &-text {
      display: block;
      margin-bottom: 1.4rem;
      font-weight: 700;
      font-size: 18px;
      line-height: 20px;
    }

    .thumb {
      position: relative;
      width: 100%;
      margin-bottom: 5.7rem;
      border: 4px solid #3265ea;
      box-shadow: 0px 22.8941px 34.3411px -11.447px rgba(8, 8, 11, 0.8);
      overflow: hidden;

      &-img {
        @include img(cover);
      }

      .play {
        position: absolute;
        left: 3.2rem;
        bottom: 2.5rem;
      }
    }

    .age-rating {
      display: flex;
      align-items: center;
      gap: 1.5rem;

      .text {
        width: 27.4rem;
        font-weight: 400;
        font-size: 16px;
        line-height: 17px;
      }
    }
  }
}

.s-info-general {
  padding: 8.1rem 0 5rem;
  .features {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &-item {
      position: relative;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 1.2rem;
      flex: 1;

      .icon {
        width: 3.047rem;
        height: 3.047rem;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          @include img(contain);
        }
      }

      .description {
        width: 100%;
        display: block;
        text-align: center;
        font-size: 1.6rem;
        line-height: 160%;
        color: #bdc2cb;
      }
    }
  }
}

.s-story {
  width: 100%;
  padding: 16rem 0 8rem;
  background: url('../assets/bg-story.png') no-repeat top center;
  .wrapper {
    display: flex;
  }
  .content {
    position: relative;
    margin-top: 6.1rem;
    width: 100%;
    max-width: 62.9rem;
    .subtitle {
      margin-bottom: 2.8rem;
    }
    .title-section {
      max-width: 50.2rem;
      margin-bottom: 2.4rem;
    }
    .paragraph {
      margin-bottom: 5.5rem;
    }

    .infos {
      display: flex;
      align-items: center;
      gap: 4.5rem;

      &-text {
        width: 100%;
        max-width: 32.4rem;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 160%;
      }
    }
  }

  .kratos {
    position: relative;
    top: 1rem;
    left: 4rem;
    width: 100%;
    max-width: 76.3rem;
  }
}
