.subtitle {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  .text {
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.2rem;
  }
}

.title-hero {
  font-weight: 700;
  font-size: 12.4rem;
  line-height: 97.5%;
}

.paragraph-hero {
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 140%;
}

.title-section {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 130%;
  color: #ffffff;
}

.paragraph {
  font-weight: 400;
  font-size: 2rem;
  line-height: 160%;
  color: #bdc2cb;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  .image {
    position: relative;
    width: 100%;
    max-width: 38.4rem;
    height: 52rem;
    display: flex;
    justify-content: center;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s ease;
    }

    button {
      position: absolute;
      bottom: 0;
      padding: 1.8rem 3.6rem;
      background: #3265ea;
      font-weight: 700;
      font-size: 1.8rem;
      line-height: 2rem;
      opacity: 0;
      transition: all 0.3s ease;
    }
  }
  .info {
    display: flex;
    flex-direction: column;
    gap: 7px;
    .title {
      font-weight: 700;
      font-size: 1.8rem;
      line-height: 2rem;
    }
    .description {
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 1.5rem;
    }
  }

  &:hover {
    .image {
      img {
        transform: scale(1.1);
      }
      button {
        bottom: 5.7rem;
        opacity: 1;
      }
    }
  }
}
