$primary: #01d4e4;
$secondary: #5935ff;

$gradient: linear-gradient(37.87deg, #0194ff 20.9%, #01eada 78.55%);

$color-white: #fff;
$neutral-100: #17171b;
$neutral-200: #27272d;
$neutral-400: #737380;
$neutral-500: #f6f6f9;

$font-heading: 'Archivo', sans-serif;
$font-body: 'Inter', sans-serif;
